@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#footer1-7 P {
  text-align: center;
}
#ext_menu-8 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-8.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-8 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-8 .mbr-navbar__hamburger {
  color: #ffffff;
}
#footer1-9 P {
  text-align: center;
}
#features1-a P {
  text-align: center;
}

#ext_menu-b .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-b.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-b .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-b .mbr-navbar__hamburger {
  color: #ffffff;
}
#footer1-c P {
  text-align: center;
}
#msg-box2-k .mbr-header .mbr-header__text {
  color: #252525;
  font-family: 'Oswald', sans-serif;
}
#msg-box2-k .mbr-article {
  color: #252525;
}
#msg-box4-l .mbr-header__text {
  color: #ffffff;
}
#msg-box4-l .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-l .mbr-article {
  color: #ffffff;
}
#msg-box4-m .mbr-header__text {
  color: #ffffff;
}
#msg-box4-m .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-m .mbr-article {
  color: #ffffff;
}
#msg-box4-n .mbr-header__text {
  color: #ffffff;
}
#msg-box4-n .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-n .mbr-article {
  color: #ffffff;
}
#msg-box4-o .mbr-header__text {
  color: #ffffff;
}
#msg-box4-o .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-o .mbr-article {
  color: #ffffff;
}
#msg-box4-p .mbr-header__text {
  color: #ffffff;
}
#msg-box4-p .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-p .mbr-article {
  color: #ffffff;
}
#msg-box4-q .mbr-header__text {
  color: #ffffff;
}
#msg-box4-q .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-q .mbr-article {
  color: #ffffff;
}
#msg-box4-r .mbr-header__text {
  color: #ffffff;
}
#msg-box4-r .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-r .mbr-article {
  color: #ffffff;
}
#msg-box4-s .mbr-header__text {
  color: #ffffff;
}
#msg-box4-s .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-s .mbr-article {
  color: #ffffff;
}
#msg-box4-t .mbr-header__text {
  color: #ffffff;
}
#msg-box4-t .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-t .mbr-article {
  color: #ffffff;
}
#msg-box4-u .mbr-header__text {
  color: #ffffff;
}
#msg-box4-u .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-u .mbr-article {
  color: #ffffff;
}
#msg-box4-v .mbr-header__text {
  color: #ffffff;
}
#msg-box4-v .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-v .mbr-article {
  color: #ffffff;
}
#msg-box4-w .mbr-header__text {
  color: #ffffff;
}
#msg-box4-w .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-w .mbr-article {
  color: #ffffff;
}
#msg-box4-x .mbr-header__text {
  color: #ffffff;
}
#msg-box4-x .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-x .mbr-article {
  color: #ffffff;
}
#msg-box4-y .mbr-header__text {
  color: #ffffff;
}
#msg-box4-y .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-y .mbr-article {
  color: #ffffff;
}
#msg-box4-z .mbr-header__text {
  color: #ffffff;
}
#msg-box4-z .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-z .mbr-article {
  color: #ffffff;
}
#ext_menu-10 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-10.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-10 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-10 .mbr-navbar__hamburger {
  color: #ffffff;
}
#footer1-11 P {
  text-align: center;
}
#msg-box2-1n .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-1n .mbr-article {
  color: #252525;
}
#msg-box4-1o .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1o .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1o .mbr-article {
  color: #ffffff;
}
#msg-box4-1p .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1p .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1p .mbr-article {
  color: #ffffff;
}
#msg-box4-1q .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1q .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1q .mbr-article {
  color: #ffffff;
}
#msg-box4-1r .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1r .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1r .mbr-article {
  color: #ffffff;
}
#msg-box4-1s .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1s .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1s .mbr-article {
  color: #ffffff;
}
#msg-box4-1t .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1t .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1t .mbr-article {
  color: #ffffff;
}
#msg-box4-1u .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1u .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1u .mbr-article {
  color: #ffffff;
}
#msg-box4-1v .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1v .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1v .mbr-article {
  color: #ffffff;
}
#msg-box4-1w .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1w .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1w .mbr-article {
  color: #ffffff;
}
#msg-box4-1x .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1x .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1x .mbr-article {
  color: #ffffff;
}
#msg-box4-1y .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1y .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1y .mbr-article {
  color: #ffffff;
}
#msg-box4-1z .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1z .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1z .mbr-article {
  color: #ffffff;
}
#msg-box4-20 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-20 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-20 .mbr-article {
  color: #ffffff;
}
#msg-box4-21 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-21 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-21 .mbr-article {
  color: #ffffff;
}
#msg-box4-22 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-22 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-22 .mbr-article {
  color: #ffffff;
}
#msg-box4-23 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-23 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-23 .mbr-article {
  color: #ffffff;
}
#msg-box4-24 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-24 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-24 .mbr-article {
  color: #ffffff;
}
#msg-box4-25 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-25 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-25 .mbr-article {
  color: #ffffff;
}
#msg-box4-26 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-26 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-26 .mbr-article {
  color: #ffffff;
}
#msg-box4-27 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-27 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-27 .mbr-article {
  color: #ffffff;
}
#msg-box4-28 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-28 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-28 .mbr-article {
  color: #ffffff;
}
#msg-box4-29 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-29 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-29 .mbr-article {
  color: #ffffff;
}
#msg-box4-2a .mbr-header__text {
  color: #ffffff;
}
#msg-box4-2a .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2a .mbr-article {
  color: #ffffff;
}
#msg-box4-2b .mbr-header__text {
  color: #ffffff;
}
#msg-box4-2b .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2b .mbr-article {
  color: #ffffff;
}
#msg-box4-2c .mbr-header__text {
  color: #ffffff;
}
#msg-box4-2c .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2c .mbr-article {
  color: #ffffff;
}
#msg-box4-2d .mbr-header__text {
  color: #ffffff;
}
#msg-box4-2d .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2d .mbr-article {
  color: #ffffff;
}
#msg-box4-2e .mbr-header__text {
  color: #ffffff;
}
#msg-box4-2e .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2e .mbr-article {
  color: #ffffff;
}
#msg-box4-2f .mbr-header__text {
  color: #ffffff;
}
#msg-box4-2f .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2f .mbr-article {
  color: #ffffff;
}
#msg-box4-2g .mbr-header__text {
  color: #ffffff;
}
#msg-box4-2g .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2g .mbr-article {
  color: #ffffff;
}
#msg-box4-2h .mbr-header__text {
  color: #ffffff;
}
#msg-box4-2h .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2h .mbr-article {
  color: #ffffff;
}
#ext_menu-14 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-14.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-14 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-14 .mbr-navbar__hamburger {
  color: #ffffff;
}
#footer1-15 P {
  text-align: center;
}
